<div class="am-g am-g-fixed blog-g-fixed">
  <div class="am-u-md-<%= action_name == 'tag' ? 12 : 8 %>">
    <% if %w(search tag).include?(action_name) %>
      <%= render "shared/error_tip", objs: @blogs %>
    <% end %> 
    <% @blogs.each do |blog| %> 
      <article class="blog">
        <h3 class="am-article-title blog-title">
          <%= link_to blog.title, blog_path(blog) %></a>
        </h3>
        <p>
          <% blog.tags.each do |tag| %>
            <%= link_to tag.name, tag_path(tag: tag.name), class: "am-badge am-badge-success" %>
          <% end %>
        </p>
        <p class="blog"> <%= raw short_blog(blog) %></p>
        <p class="am-article-meta">
          <span class="am-icon-eye"></span>  <%= blog.browse_times %>
          <span class="am-icon-th ml10"></span>  <%= blog.post_time %>
        </p>
      </article>
      <hr class="am-article-divider blog-hr">
    <% end %> 
    <%= paginate @blogs %>
  </div>
  <% if action_name != 'tag' %>
    <div class="am-u-md-4 blog-sidebar">
      <div class="am-panel-group">
        <section class="am-panel am-panel-default">
          <div class="am-panel-hd"><%= t(:latest_state) %></div>
          <div class="am-panel-bd">
            <p><%= @state.description %></p>
            <i><%= @state.created_at %></i>
          </div>
        </section>
        <section class="am-panel am-panel-default">
          <div class="am-panel-hd"><%= t :latest_blogs %></div>
          <ul class="am-list blog-list">
            <% @late_blogs.each do |blog| %> 
              <li><%= link_to blog.title, blog_path(blog) %></li>
            <% end %> 
          </ul>
        </section>

        <section class="am-panel am-panel-default">
          <div class="am-panel-hd"><%= t :latest_pictures %></div>
          <div class="am-panel-bd">
            <ul class="am-avg-sm-4 blog-team">
              <% @photos.each do |photo| 
                 next if photo.real_url.nil? %> 
                <li><%= image_tag photo.real_url ,class: "am-thumbnail" %></li>
              <% end %> 
            </ul>
          </div>
        </section>
      </div>
    </div>
  <% end %>
</div>
